<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>

<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -50px;">
        <div class="col-8">
            <h2 class="section-headline"><span>User Account</span></h2>
        </div>
        <div class="col-4">
            <img src="image/logo.png" class="img-responsive"/>
        </div>
    </div>
    <hr style="position: absolute;width: 100%;height: 6px;background-color: #333;z-index: -1;margin-top: -40px"/>
    <img style="width: 100%;height: 200px;margin-top: 20px;" class="img-responsive" src="image/wood.jpg">

    <div class="row" style="margin-top: 120px;">
        <div class="col-9 offset-3">

            <!--            Nav tabs-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a th:classappend="${classActiveNewAccount}? 'active'" class="nav-link " id="1-tab"
                       data-toggle="tab" href="#tab-1" role="tab"
                       aria-controls="home" aria-selected="true"><span style="color: red">Create new account</span></a>
                </li>
                <li class="nav-item">
                    <a th:classappend="${classActiveLogin}? 'active'" class="nav-link" id="2-tab"
                       data-toggle="tab" href="#tab-2" role="tab"
                       aria-controls="profile" aria-selected="false"><span style="color: red">Log In</span></a>
                </li>
                <li class="nav-item">
                    <a th:classappend="${classActiveForgetPassword}? 'active'" class="nav-link" id="3-tab"
                       data-toggle="tab" href="#tab-3" role="tab"
                       aria-controls="contact" aria-selected="false"><span style="color: red">Forget Password</span></a>
                </li>
            </ul>

            <!--            Tab panes-->
            <div class="tab-content" id="myTabContent">

                <!--                create new user pane -->
                <div class="tab-pane fade" id="tab-1" role="tabpanel" aria-labelledby="1-tab"
                     th:classappend="${classActiveNewAccount}? 'show active'">
                    <div class="card">
                        <div class="card-body" style="background-color: #ededed;margin-top: 20px;">

                            <div class="alert alert-info" th:if="${emailSent}">
                                An email has been sent to the email address you just registered.Please validate your
                                email address and update your password information.
                            </div>

                            <form th:action="@{/newUser}" method="post">
                                <div class="form-group">
                                    <label for="newUsername"> * Username:</label>&nbsp;
                                    <span style="color: red;" th:if="${usernameExists}">Username already exists.Choose a different one.</span>
                                    <input required="required" type="text" class="form-control" id="newUsername"
                                           name="username"/>
                                    <p style="color:#828282">Enter your username here.</p>
                                </div>

                                <div class="form-group">
                                    <label for="email"> * Email Adress:</label>
                                    <span style="color: red;" th:if="${emailExists}">Email already exists.Choose a different one.</span>
                                    <input required="required" type="email" class="form-control" id="email"
                                           name="email"/>
                                    <p style="color:#828282">A valid email adress. All emails from the sytem withll be
                                        sent to this address. The email address is not made public and will only be used
                                        if wish to receive a new password or wish to receive certain notification.</p>
                                </div>

                                <button type="submit" class="btn btn-primary">Create new account</button>

                            </form>
                        </div>
                    </div>
                </div>

                <!--                log in pane-->
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab"
                     th:classappend="${classActiveLogin}? 'show active'">
                    <div class="card">
                        <div class="card-body" style="background-color: #ededed;margin-top: 20px;">
                            <div th:if="${param.error != null}" style="color: red;">Incorrect username or password</div>
                            <form th:action="@{/login}" method="post">
                                <div class="form-group">
                                    <label for="username"> * Username:</label>
                                    <input required="required" type="text" class="form-control" id="username"
                                           name="username"/>
                                    <p style="color:#828282">Enter your username here.</p>
                                </div>

                                <div class="form-group">
                                    <label for="password"> * Password:</label>
                                    <input required="required" type="password" class="form-control" id="password"
                                           name="password"/>
                                    <p style="color:#828282">Enter the password that accompanies your username.</p>
                                </div>

                                <button type="submit" class="btn btn-primary">Log in</button>

                            </form>
                        </div>
                    </div>
                </div>

                <!--                forget password-->
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab"
                     th:classappend="${classActiveForgetPassword}? 'show active'">
                    <div class="card">
                        <div class="card-body" style="background-color: #ededed;margin-top: 20px;">
                            <div th:if="${emailNotExists}" class="alert alert-danger">Email doesn't exists.</div>
                            <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email sent</div>
                            <form th:action="@{/forgetPassword}" method="post">
                                <div class="form-group">
                                    <label for="recoverEmail"> * Your Email:</label>
                                    <input required="required" type="text" class="form-control" id="recoverEmail"
                                           name="email"/>
                                    <p style="color:#828282">Enter your registered email here.</p>

                                    <button type="submit" class="btn btn-primary">Submit</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


</body>
</html>
